# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.vs/config

/CMS/App_Browsers
/CMS/App_Code
/CMS/ClientBin
/CMS/Controllers
/CMS/Models
/CMS/Views
/packages
/CMS/KenticoISP.url
/CMS/packages.config
/CMS/web.config
/WebSite.sln

/CMS/InterSystPlus/media/css/edit.min.css
/CMS/InterSystPlus/media/css/isp.dev.css
/CMS/InterSystPlus/media/css/isp.dev.pref.css
/CMS/InterSystPlus/media/css/isp.min.css
/CMS/InterSystPlus/media/css/isp.min.pref.css
/CMS/InterSystPlus/media/fonts
/CMS/InterSystPlus/media/img
/CMS/InterSystPlus/media/js/backup
/CMS/InterSystPlus/media/js/isp-con.js
/CMS/InterSystPlus/media/js/isp-con.min.js
/CMS/InterSystPlus/media/js/fontfaceobserver.js

/CMS/Admin
/CMS/App_Code/CMS
/CMS/App_Code/CMSModules
/CMS/App_Code/CMSPages/Minifiers
/CMS/App_Code/Samples/Modules
/CMS/App_Code/Global.asax.cs
/CMS/App_Data
/CMS/App_Start
/CMS/App_Themes
/CMS/App_WebReferences/WS
/CMS/bin
/CMS/CMSAdminControls
/CMS/CMSMessages
/CMS/CMSMasterPages
/CMS/CMSInstall
/CMS/CMSInlineControls
/CMS/CMSFormControls
/CMS/CMSEdit
/CMS/CMSDesk
/CMS/CMSAPIExamples
/CMS/CMSResources
/CMS/CMSPages
/CMS/CMSModules
/CMS/CMSScripts
/CMS/CMSSiteManager
/CMS/CMSSiteUtils
/CMS/CMSTemplates
/CMS/CMSWebParts/Widgets
/CMS/CMSWebParts/Wireframe
/CMS/CMSWebParts/WebServices
/CMS/CMSWebParts/WebAnalytics
/CMS/CMSWebParts/Viewers
/CMS/CMSWebParts/UserContributions
/CMS/CMSWebParts/Text
/CMS/CMSWebParts/TaggingCategories
/CMS/CMSWebParts/Syndication
/CMS/CMSWebParts/StrandsRecommender
/CMS/CMSWebParts/SocialMedia
/CMS/CMSWebParts/SmartSearch
/CMS/CMSWebParts/Sharepoint
/CMS/CMSWebParts/Search
/CMS/CMSWebParts/Reporting
/CMS/CMSWebParts/ProjectManagement
/CMS/CMSWebParts/Polls
/CMS/CMSWebParts/OnlineMarketing
/CMS/CMSWebParts/Notifications
/CMS/CMSWebParts/Newsletters
/CMS/CMSWebParts/Navigation
/CMS/CMSWebParts/Messaging
/CMS/CMSWebParts/MessageBoards
/CMS/CMSWebParts/Membership
/CMS/CMSWebParts/MediaLibrary
/CMS/CMSWebParts/Media
/CMS/CMSWebParts/Maps
/CMS/CMSWebParts/Localization
/CMS/CMSWebParts/Layouts
/CMS/CMSWebParts/IntranetPortal
/CMS/CMSWebParts/GoogleServices
/CMS/CMSWebParts/General
/CMS/CMSWebParts/Forums
/CMS/CMSWebParts/Filters
/CMS/CMSWebParts/EventManager
/CMS/CMSWebParts/Ecommerce
/CMS/CMSWebParts/DocumentWizard
/CMS/CMSWebParts/DocumentLibrary
/CMS/CMSWebParts/DeviceProfile
/CMS/CMSWebParts/DataSources
/CMS/CMSWebParts/DashBoard
/CMS/CMSWebParts/CustomTables
/CMS/CMSWebParts/ContentRating
/CMS/CMSWebParts/Community
/CMS/CMSWebParts/Chat
/CMS/CMSWebParts/Blogs
/CMS/CMSWebParts/BizForms
/CMS/CMSWebParts/BitsOrchestra
/CMS/CMSWebParts/BannerManagement
/CMS/CMSWebParts/Attachments
/CMS/CMSWebParts/AbuseReport
/CMS/CMS_MvcModule
/CMS/InterSystPlus/node_modules
/CMS/obj/Debug
/CMS/Properties
/CMS/App_Offline.htm_
/CMS/clientaccesspolicy.xml
/CMS/RESTService.svc
/CMS/parameters.config
/CMS/ObjectTranslationRESTService.svc
/CMS/ice-cube.url
/CMS/Global.asax
/CMS/favicon.ico
/CMS/DocumentRESTService.svc
/CMS/Default.aspx.cs
/CMS/Default.aspx
/CMS/CMSApp_MVC.csproj
/CMS/wse3policy.config
/ScheduledTasks
/Lib
/Sample.testsettings
/modified.txt
/log.txt
/GlobalAssemblyInfo.cs